<div class="container custom_container">
	
	<h1 class="view_title">Članovi kluba <i class="fa fa-user fa-fw icon-large" style="float: right;"></i></h1>

	<div class="row" style="height: 70px;">
		
		<div class="col-md-6">
			
			<input type="text" class="form-control search_field" ng-model="searchCriteria"></input>
			<button class="btn btn-info search_button" ng-click="reset();"><i class="fa fa-refresh"></i></button>
			<button class="btn btn-info search_button" ng-click="searchMembers();">Pretraži</button>

		</div>

		<div class="col-md-6">
			
			<button ng-click="getAllGroups()" class="btn btn-primary" style="float: right; margin-top: 5%; margin-right: 5%;" data-toggle="modal" data-target="#member_dialog">Dodaj novog člana</button>

		</div>

	</div>

	<div class="row table_wrapper">

		<table id="members_table" class="table table-striped table-bordered table-hover" cellspacing="0">
			
			<thead>
				<tr>
					<th>Id</th>
					<th>Lična karta</th>
					<th>Ime i prezime</th>
					<th>Pol</th>
					<th>Email</th>
					<th>Adresa</th>
					<th>Telefon</th>
					<th>Datum rođenja</th>
					<th>Datum učlanjenja</th>
					<th>Grupa</th>
					<th>Opcije</th>
				</tr>
			</thead>

		</table>

		<div id="member_dialog" class="modal fade" role="dialog" data-backdrop="static">
		  <div class="modal-dialog" style="width: 30%;">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Dodavanje novog člana</h4>
		      </div>
		      <div class="modal-body">

		      	<div class="container" style="width: 100%;">
		      		
		      		<div class="row dialog_row">
		      			<div class="col-md-4">Broj LK:</div>
		      			<div class="col-md-8">
		      				<input type="text" required="true" class="form-control" ng-model="memberDialog.newMember.idCard" />
		      			</div>
		      		</div>

		      		<div class="row dialog_row">
		      			<div class="col-md-4">Ime i prezime:</div>
		      			<div class="col-md-8">
		      				<input type="text" class="form-control" ng-model="memberDialog.newMember.nameSurname" />
		      			</div>
		      		</div>

		      		<div class="row dialog_row">
		      			<div class="col-md-4">Pol:</div>
		      			<div class="col-md-8">
		      				<input type="text" class="form-control" ng-model="memberDialog.newMember.gender" />
		      			</div>
		      		</div>

		      		<div class="row dialog_row">
		      			<div class="col-md-4">Email:</div>
		      			<div class="col-md-8">
		      				<input type="text" class="form-control" ng-model="memberDialog.newMember.email" />
		      			</div>
		      		</div>

		      		<div class="row dialog_row">
		      			<div class="col-md-4">Adresa:</div>
		      			<div class="col-md-8">
		      				<input type="text" class="form-control" ng-model="memberDialog.newMember.address" />
		      			</div>
		      		</div>

		      		<div class="row dialog_row">
		      			<div class="col-md-4">Telefon:</div>
		      			<div class="col-md-8">
		      				<input type="text" class="form-control" ng-model="memberDialog.newMember.phone" />
		      			</div>
		      		</div>

		      		<div class="row dialog_row">
		      			<div class="col-md-4">Datum rođenja:</div>
		      			<div class="col-md-8">
		      				<input type="text" datepicker class="form-control" ng-model="memberDialog.newMember.dateOfBirth" />
		      			</div>
		      		</div>

		      		<div class="row dialog_row">
		      			<div class="col-md-4">Datum učlanjenja:</div>
		      			<div class="col-md-8">
		      				<input type="text" datepicker class="form-control" ng-model="memberDialog.newMember.dateOfMembership" />
		      			</div>
		      		</div>

		      		<div class="row dialog_row">
		      			<div class="col-md-4">Grupa:</div>
		      			<div class="col-md-8">
		      				<select required name="groupSelection" id="groupSelection" class="form-control" 
		      					ng-options="group as group.name for group in groups track by group.id"
		      					ng-model="memberDialog.newMember.group">
		      					<!-- <option ng-repeat="group in groups" value="{{group.id}}" >{{group.name}}</option> -->
		      				</select>
		      			</div>
		      		</div>

		      		<div class="row dialog_row">
		      			<div class="col-md-4">Napomena:</div>
		      			<div class="col-md-8">
		      				<textarea type="text" class="form-control" ng-model="memberDialog.newMember.remark" ></textarea> 
		      			</div>
		      		</div>

		      	</div>

		      </div>
		      <div class="modal-footer">
		        <button ng-click="resetMemberDialog()" type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		        <button ng-click="saveMember()" type="button" class="btn btn-primary">Sačuvaj</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

	<div>

</div>
