<div class="container custom_container">
	
	<h1 class="view_title">Članovi kluba <i class="fa fa-user fa-fw icon-large" style="float: right;"></i></h1>

	<div class="row" style="height: 70px;">
		
		<div class="col-md-6">
			
			<input type="text" class="form-control search_field" ng-model="searchCriteria"></input>
			<button class="btn btn-info search_button" ng-click="reset();"><i class="fa fa-refresh"></i></button>
			<div class="btn-group search_button">
			  <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Filtriraj po grupi <span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
			  	<li ng-repeat="group in groups"><a style="cursor: pointer;" ng-click="filterMembersByGroup(group.id);">{{group.name}}</a></li>
			  </ul>
			</div>
			<button class="btn btn-info search_button" ng-click="searchMembers();">Pretraži</button>

		</div>

		<div class="col-md-6">
			
			<button ng-click="createNewMember()" class="btn btn-primary" style="float: right; margin-top: 5%; margin-right: 5%;" data-toggle="modal" data-target="#member_dialog">Dodaj novog člana</button>

		</div>

	</div>

	<div class="row table_wrapper">

		<table id="members_table" class="table table-striped table-bordered table-hover" cellspacing="0">
			
			<thead>
				<tr>
					<th>Id</th>
					<th>Lična karta</th>
					<th>Ime i prezime</th>
					<th>Pol</th>
					<th>Email</th>
					<th>Adresa</th>
					<th>Telefon</th>
					<th>Datum rođenja</th>
					<th>Datum učlanjenja</th>
					<th>Grupa</th>
					<th>Opcije</th>
				</tr>
			</thead>

		</table>

		<div id="member_dialog" class="modal fade" role="dialog" data-backdrop="static">
		  <div class="modal-dialog" style="width: 30%;">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Dodavanje novog člana</h4>
		      </div>
		      <div class="modal-body">

		      	<div class="container" style="width: 100%;">
		      		
		      		<form name="newMemberForm" novalidate> 


		      			<div class="row dialog_row form-group" ng-class="{ 'has-error' : newMemberForm.idCard.$invalid && !newMemberForm.idCard.$pristine }">
			      			<div class="col-md-4">Broj LK:</div>
			      			<div class="col-md-8">
			      				<input type="text" name="idCard" class="form-control" ng-model="memberDialog.newMember.idCard" required />
			      				<p ng-show="newMemberForm.idCard.$invalid && !newMemberForm.idCard.$pristine" class="help-block">Broj LK je obavezan</p>
			      			</div>
			      		</div>

			      		<div class="row dialog_row form-group" ng-class="{ 'has-error' : newMemberForm.nameSurname.$invalid && !newMemberForm.nameSurname.$pristine }">
			      			<div class="col-md-4">Ime i prezime:</div>
			      			<div class="col-md-8">
			      				<input type="text" name="nameSurname" class="form-control" ng-model="memberDialog.newMember.nameSurname" required />
			      				<p ng-show="newMemberForm.nameSurname.$invalid && !newMemberForm.nameSurname.$pristine" class="help-block">Ime i prezime je obavezno</p>
			      			</div>
			      		</div>

			      		<div class="row dialog_row">
			      			<div class="col-md-4">Pol:</div>
			      			<div class="col-md-8" style="padding-left: 5%;">
			      				<input type="radio" ng-model="memberDialog.newMember.gender" value="M" /><label style="margin-left: 2%; margin-right: 5%;">M</label>
			      				<input type="radio" ng-model="memberDialog.newMember.gender" value="Ž" /><label style="margin-left: 2%; margin-right: 5%;">Ž</label>
			      			</div>
			      		</div>

			      		<div class="row dialog_row form-group" ng-class="{ 'has-error' : newMemberForm.email.$invalid && !newMemberForm.email.$pristine }">
			      			<div class="col-md-4">Email:</div>
			      			<div class="col-md-8">
			      				<input type="email" name="email" class="form-control" ng-model="memberDialog.newMember.email" required />
			      				<p ng-show="newMemberForm.email.$invalid && !newMemberForm.email.$pristine" class="help-block">E-mail nije validan</p>
			      			</div>
			      		</div>

			      		<div class="row dialog_row form-group" ng-class="{ 'has-error' : newMemberForm.address.$invalid && !newMemberForm.address.$pristine }">
			      			<div class="col-md-4">Adresa:</div>
			      			<div class="col-md-8">
			      				<input type="text" name="address" class="form-control" ng-model="memberDialog.newMember.address" required />
			      				<p ng-show="newMemberForm.address.$invalid && !newMemberForm.address.$pristine" class="help-block">Adresa je obavezna</p>
			      			</div>
			      		</div>

			      		<div class="row dialog_row form-group" ng-class="{ 'has-error' : newMemberForm.phone.$invalid && !newMemberForm.phone.$pristine }">
			      			<div class="col-md-4">Telefon:</div>
			      			<div class="col-md-8">
			      				<input type="text" name="phone" class="form-control" ng-model="memberDialog.newMember.phone" required />
			      				<p ng-show="newMemberForm.phone.$invalid && !newMemberForm.phone.$pristine" class="help-block">Telefon je obavezan</p>
			      			</div>
			      		</div>

			      		<div class="row dialog_row form-group" ng-class="{ 'has-error' : newMemberForm.dateOfBirth.$invalid && !newMemberForm.dateOfBirth.$pristine }">
			      			<div class="col-md-4">Datum rođenja:</div>
			      			<div class="col-md-8">
			      				<input type="text" datepicker name="dateOfBirth" class="form-control" ng-model="memberDialog.newMember.dateOfBirth" required />
			      				<p ng-show="newMemberForm.dateOfBirth.$invalid && !newMemberForm.dateOfBirth.$pristine" class="help-block">Datum rođenja je obavezan</p>
			      			</div>
			      		</div>

			      		<div class="row dialog_row form-group" ng-class="{ 'has-error' : newMemberForm.dateOfMembership.$invalid && !newMemberForm.dateOfMembership.$pristine }">
			      			<div class="col-md-4">Datum učlanjenja:</div>
			      			<div class="col-md-8">
			      				<input type="text" datepicker name="dateOfMembership" class="form-control" ng-model="memberDialog.newMember.dateOfMembership" required />
			      				<p ng-show="newMemberForm.dateOfMembership.$invalid && !newMemberForm.dateOfMembership.$pristine" class="help-block">Datum rođenja je obavezan</p>
			      			</div>
			      		</div>

			      		<div class="row dialog_row">
			      			<div class="col-md-4">Grupa:</div>
			      			<div class="col-md-8">
			      				<select required name="groupSelection" id="groupSelection" class="form-control" 
			      					ng-options="group as group.name for group in groups track by group.id"
			      					ng-model="memberDialog.newMember.group">
			      				</select>
			      			</div>
			      		</div>

			      		<div class="row dialog_row">
			      			<div class="col-md-4">Napomena:</div>
			      			<div class="col-md-8">
			      				<textarea type="text" class="form-control" ng-model="memberDialog.newMember.remark" ></textarea> 
			      			</div>
			      		</div>

		      			
		      		</form>

		      	</div>

		      </div>
		      <div class="modal-footer">
		        <button ng-click="resetMemberDialog()" type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		        <button ng-click="saveMember()" type="button" class="btn btn-primary" ng-disabled="newMemberForm.$invalid">Sačuvaj</button>
		      </div>
		    </div>
		  </div>
		</div>

		<!-- edit member dialog -->

		<div id="edit_member_dialog" class="modal fade" role="dialog" data-backdrop="static">
		  <div class="modal-dialog" style="width: 80%;">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Izmena podataka o članu</h4>
		      </div>
		      <div class="modal-body">

		      	<div class="container" style="width: 100%;">
		      		
		      		<form name="editMemberForm" novalidate> 

		      			<div class="col-lg-5">
		      				
		      				<div class="panel panel-default">

		      					<div class="panel-heading">
									<h4 class="panel-title">Opšti podaci</h4>
								</div>

								<div class="panel-body">
									

									<div class="row dialog_row form-group" ng-class="{ 'has-error' : editMemberForm.idCard.$invalid && !editMemberForm.idCard.$pristine }">
						      			<div class="col-md-4">Broj LK:</div>
						      			<div class="col-md-8">
						      				<input type="text" name="idCard" class="form-control" ng-model="memberDialog.editMember.idCard" required />
						      				<p ng-show="editMemberForm.idCard.$invalid && !editMemberForm.idCard.$pristine" class="help-block">Broj LK je obavezan</p>
						      			</div>
						      		</div>

						      		<div class="row dialog_row form-group" ng-class="{ 'has-error' : editMemberForm.nameSurname.$invalid && !editMemberForm.nameSurname.$pristine }">
						      			<div class="col-md-4">Ime i prezime:</div>
						      			<div class="col-md-8">
						      				<input type="text" name="nameSurname" class="form-control" ng-model="memberDialog.editMember.nameSurname" required />
						      				<p ng-show="editMemberForm.nameSurname.$invalid && !editMemberForm.nameSurname.$pristine" class="help-block">Ime i prezime je obavezno</p>
						      			</div>
						      		</div>

						      		<div class="row dialog_row">
						      			<div class="col-md-4">Pol:</div>
						      			<div class="col-md-8" style="padding-left: 5%;">
						      				<input type="radio" ng-model="memberDialog.editMember.gender" value="M" /><label style="margin-left: 2%; margin-right: 5%;">M</label>
						      				<input type="radio" ng-model="memberDialog.editMember.gender" value="Ž" /><label style="margin-left: 2%; margin-right: 5%;">Ž</label>
						      			</div>
						      		</div>

						      		<div class="row dialog_row form-group" ng-class="{ 'has-error' : editMemberForm.email.$invalid && !editMemberForm.email.$pristine }">
						      			<div class="col-md-4">Email:</div>
						      			<div class="col-md-8">
						      				<input type="email" name="email" class="form-control" ng-model="memberDialog.editMember.email" required />
						      				<p ng-show="editMemberForm.email.$invalid && !editMemberForm.email.$pristine" class="help-block">E-mail nije validan</p>
						      			</div>
						      		</div>

						      		<div class="row dialog_row form-group" ng-class="{ 'has-error' : editMemberForm.address.$invalid && !editMemberForm.address.$pristine }">
						      			<div class="col-md-4">Adresa:</div>
						      			<div class="col-md-8">
						      				<input type="text" name="address" class="form-control" ng-model="memberDialog.editMember.address" required />
						      				<p ng-show="editMemberForm.address.$invalid && !editMemberForm.address.$pristine" class="help-block">Adresa je obavezna</p>
						      			</div>
						      		</div>

						      		<div class="row dialog_row form-group" ng-class="{ 'has-error' : editMemberForm.phone.$invalid && !editMemberForm.phone.$pristine }">
						      			<div class="col-md-4">Telefon:</div>
						      			<div class="col-md-8">
						      				<input type="text" name="phone" class="form-control" ng-model="memberDialog.editMember.phone" required />
						      				<p ng-show="editMemberForm.phone.$invalid && !editMemberForm.phone.$pristine" class="help-block">Telefon je obavezan</p>
						      			</div>
						      		</div>

						      		<div class="row dialog_row form-group" ng-class="{ 'has-error' : editMemberForm.dateOfBirth.$invalid && !editMemberForm.dateOfBirth.$pristine }">
						      			<div class="col-md-4">Datum rođenja:</div>
						      			<div class="col-md-8">
						      				<input type="text" datepicker name="dateOfBirth" class="form-control" ng-model="memberDialog.editMember.dateOfBirth" required />
						      				<p ng-show="editMemberForm.dateOfBirth.$invalid && !editMemberForm.dateOfBirth.$pristine" class="help-block">Datum rođenja je obavezan</p>
						      			</div>
						      		</div>

						      		<div class="row dialog_row form-group" ng-class="{ 'has-error' : editMemberForm.dateOfMembership.$invalid && !editMemberForm.dateOfMembership.$pristine }">
						      			<div class="col-md-4">Datum učlanjenja:</div>
						      			<div class="col-md-8">
						      				<input type="text" datepicker name="dateOfMembership" class="form-control" ng-model="memberDialog.editMember.dateOfMembership" required />
						      				<p ng-show="editMemberForm.dateOfMembership.$invalid && !editMemberForm.dateOfMembership.$pristine" class="help-block">Datum rođenja je obavezan</p>
						      			</div>
						      		</div>

						      		<div class="row dialog_row">
						      			<div class="col-md-4">Grupa:</div>
						      			<div class="col-md-8">
						      				<select required name="groupSelection" id="groupSelection" class="form-control" 
						      					ng-options="group as group.name for group in groups track by group.id"
						      					ng-model="memberDialog.editMember.group">
						      				</select>
						      			</div>
						      		</div>

						      		<div class="row dialog_row">
						      			<div class="col-md-4">Napomena:</div>
						      			<div class="col-md-8">
						      				<textarea type="text" class="form-control" ng-model="memberDialog.editMember.remark" ></textarea> 
						      			</div>
						      		</div>

						      		<button ng-click="editMember()" style="float: right;" type="button" class="btn btn-primary" ng-disabled="editMemberForm.$invalid">Sačuvaj</button>

								</div>
		      					
		      				</div>

		      			</div>

		      			<div class="col-lg-7 tabbable">
		      				
		      				<div class="panel panel-default">
							  <div class="panel-heading">
							    <h4 class="panel-title">Dodatni podaci</h4>
							  </div>
							  <div class="panel-body">

							  	<ul class="nav nav-tabs">
							    	<li class="active"><a showtab href="#payments_tab">Uplate</a></li>
							    	<li><a showtab href="#attendances_tab">Prisustva</a></li>
							  	</ul>

							  	<div class="tab-content">
							  		
							  		<div id="payments_tab" class="tab-pane fade in active">

							  			<div style="padding: 3% 1% 3% 1%;">
							  				
							  				<table id="payments_table" class="table table-striped table-bordered table-hover" cellspacing="0">
			
												<thead>
													<tr>
														<th>Id</th>
														<th>Od</th>
														<th>Do</th>
														<th>Iznos</th>
														<th>Datum uplate</th>
													</tr>
												</thead>

											</table>

							  			</div>

								    </div>
								    <div id="attendances_tab" class="tab-pane fade">

								    	<div style="padding: 3% 1% 3% 1%;">
							  				
							  				<table id="attendances_table" class="table table-striped table-bordered table-hover" cellspacing="0">
			
												<thead>
													<tr>
														<th>Id</th>
														<th>Datum</th>
														<th>Trajanje (min)</th>
														<th>Prisustvo</th>
														<th>Kašnjenje (min)</th>
													</tr>
												</thead>

											</table>

							  			</div>

								    </div>

							  	</div>

							  </div>
							  
							</div>

		      			</div>

		      			
		      		</form>

		      	</div>

		      </div>
		      <div class="modal-footer">
		        <button ng-click="resetEditMemberDialog()" type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		      </div>
		    </div>
		  </div>
		</div>

	<div>

</div>
